<h1></h1>

<table>
  <thead>
    <tr>
      <th>Заголовок</th>
      <th>Действия</th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.name, task %></td>
        <td>
          <%= link_to 'Редактировать', edit_task_path(task) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Создать новую задачу', new_task_path %>
<%= link_to 'Назад к списку', tasks_path %>